<div class="footer">
    <p class="copyright">Ⓒ Cozy Crochet</p>
    <div class="socials">
        <ul>
            <li><i class="fa-brands fa-instagram fa-xl"></i></li>
            <li><i class="fa-brands fa-facebook fa-xl"></i></li>
            <li><i class="fa-brands fa-tiktok fa-xl"></i></li>
            <li><i class="fa-brands fa-github fa-xl"></i></li>
        </ul>
    </div>
</div>
</div>
</body>
</html>