<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <script src="https://kit.fontawesome.com/d5ff331449.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/style.css">
    <title>Cozy Crochet</title>
</head> 
<body>
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/"><img src="./images/crochetLogo.jpg" alt="logo"></a>
            </div>
            <div class="search-bar">
                <input type="text" placeholder="Search...">
            </div>
            <div class="links">
                <ul>
                    <li><a href="./items">Browse</a></li>
                    <li><a href="new.html">Sell</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>