<%- include('./partials/header.ejs') %>
        <div class="content-body-3">
            <div class="item-container">
                <div class="item-pic"><img src="assets/item-6.jpg" alt="item-6"></div>
                <div class="item-info">
                    <div class="item-name">Link Plushie</div>
                    <div class="item-condition">New</div>
                    <div class="price-offer">
                        <div class="item-price">$40.00</div>
                        <div class="item-offers">Offers: 2</div>
                    </div>
                    <div class="item-seller">Seller: Midna</div>
                    <div class="item-des">The Hero of Hyrule himself in the plushie flesh! Made with high-quality, soft yarn and stuffed for the perfect huggable feel, this plushie is a delightful addition to any collection. Whether you're a long-time fan of the series or just looking for a charming and unique gift, this Link plushie is sure to inspire heroic deeds and warm hearts wherever he goes. </div>
                    <div class="edit-delete">
                        <div class="edit-item"><button>Edit <i class="fa-regular fa-pen-to-square"></i></button></div>
                        <div class="delete-item"><button>Delete <i class="fa-solid fa-trash"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
<%- include('./partials/footer.ejs') %>
 