<%- include('../partials/header.ejs') %>
        <div class="content-body-3">
            <div class="form-container">
                <div class="form-caption">
                    <h2>✩‧Sell at Cozy Crochet‧✩</h2>
                    <p>Share your beautiful creation with fellow crochet lovers!</p>
                </div>
                <div class="form">
                    <form action='/items' method ='POST' enctype="multipart/form-data">
                        <select name="condition" id="condition">
                            <option value="" disabled selected>Condition</option>
                            <option value="new">New</option>
                            <option value="Good">Good</option>
                            <option value="Used">Used</option>
                            <option value="Refurbished">Refurbished</option>
                            <option value="Other">Other</option>
                        </select>
                        <input type="text" id="title" name="title" placeholder="Title" required>
                        <input type="text" id="seller" name="seller" placeholder="Seller" required>
                        <input type="number" id="price" name="price" placeholder="Price" step=".01" required>
                        <input type="text" id="details" name="details" placeholder="Details" required>
                        <label for="image-selection" required>Select Image</label>
                        <input type="file" name="image" id="image">
                        <button type="submit">Submit</button>
                    </form>         
                </div>
            </div>
        </div>
<%- include('../partials/footer.ejs') %>
