<%- include('./partials/header.ejs') %>
<div class="content-body-3">
    <div class="error-msg">
        <h3><%=error.status%> Error</h3>
        <p class="default-caption"><%=error.message%></p>
    </div>
</div>


<%- include('./partials/footer.ejs') %>
