<%- include('./partials/header.ejs') %>
<div class="content-body">
            <div class="section-1">
                <img src="./images/hompage-img-1.jpg" alt="homepage-img-1">
                <div class="text-block">
                    <h1>Cozy Crochet</h1>
                    <p>Welcome to Cozy Crochet, the coziest site for all things warm, handmade, and wonderfully unique.
                        Explore our cozy collection of beautifully crocheted items, from snuggly plushes to stylish tops.
                        If you're a crocheter, join us in sharing your passion by selling your own handcrafted crochet pieces.
                        Start browsing today and discover the cozy possibilities!
                    </p>
                </div>
            </div>
            <div class="section-2">
                <img src="./images/hompage-img-2.jpg" alt="homepage-img-2">
            </div>
            <div class="section-3">
                <img src="./images/hompage-img-3.jpg" alt="homepage-img-3">
            </div>
        </div>
<%- include('./partials/footer.ejs') %>
